
footer {
    background-color: rgb(138, 7, 152);
    color: white;
    padding:20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 130px;
  }
  footer .social-icons {
    display: flex;
    justify-content: center;
    gap:15px;
    margin-top: 10px;
  }


  footer p {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ccc;
  }
  footer .highligh {
    color: #00aaff;
    font-weight: bold;
  }
  footer .social-icons a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }


  footer .social-icons a img:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  }
  